* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow-y: hidden;
}


.section1 {

    width: 30vw;
    height: 90%;
    position: absolute;
    left: calc(50% - 15vw);
    top: calc(50% - 45%);
    background-color: transparent;
    background-color: #91908e45;
    border-radius: 0px 20px 0px 20px;

}

.section-meus-recados {

    width: 100vw;
    height: 100vh;
    text-align: center;


}


.divMeusRecados {
    width: 100%;
    position: absolute;
    top: 30px;
    left: calc(50% - 50vw);
}

.formulario {
    margin-top: 200px;
    text-align: center;

}


h1 {
    color: rgb(81, 76, 76);
}


button {
    border-radius: 10px;
    background-color: rgba(160, 166, 166, 0.615);
    margin: 5px 10px;
    padding: 10px;
}


.input {
    border-radius: 10px;
    background-color: rgba(160, 166, 166, 0.615);
    margin: 5px 10px;
    padding: 10px;
}

.botão-entrar {
    border-radius: 5px;
    background-color: rgba(160, 166, 166, 0.615);
    margin: 5px 10px;
    padding: 10px;
}

.botão-entrar:hover {
    background-color: #5dc585;
}

#inputSalvar {
    border-radius: 10px;
    margin: 5px 10px;
    padding: 10px;
}

.inputMeusRecados {
    margin: 5px 10px;
    padding: 10px;
    padding-right: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

tbody>tr:hover {
    background-color: #a3a6a6;
}

.inputSalvar {
    margin: 5px 10px;
    padding: 10px;
    color: black;

}


.lista {
    position: absolute;
    top: 200px;
    left: 200px;
}

.Descricao {
    display: inline-block;
    margin-left: 200px;
}

.botaoApagar {
    background-color: rgba(129, 126, 121, 0.556) !important;
    color: black !important;
    font-size: 13px !important;
    border-radius: 10px;

}

.botaoApagar:hover {
    background-color: red !important;
}

.botaoEditar {
    background-color: rgba(129, 126, 121, 0.556) !important;
    font-size: 13px !important;
    border-radius: 10px;
}

.botaoEditar:hover {
    background-color: rgb(14, 179, 14) !important;
}

.botãoSair:hover {
    background-color: rgba(229, 17, 17, 0.868);
    color: white;

}

.botãoSair {
    border-radius: 10px;
}